.containersideleftlandingpage {
  margin-top: 130px;
}

.startbutton {
  background: #5e50a1;
  border-radius: 4px;
  border: none;
  color: white;
  height: 50px;
  width: 200px;
  border: none;
}

.pictureonelandingpage {
  width: auto;
  height: 500px;
}

.picturetwolandingpage {
  width: auto;
  height: 470px;
}

.reasonchoicepeworld {
  margin-top: 75px;
}

.ceckedtalent {
  height: 20px;
  width: 20px;
  background-color: #5e50a1;
  border-radius: 100%;
  padding-left: 2px;
}

.ceckedskilltalent {
  height: 20px;
  width: 20px;
  background-color: #fbb017;
  border-radius: 100%;
  padding-left: 2px;
}

.picturethereelandingpage {
  width: auto;
  height: 470px;
}

.skilltalent {
  margin-top: 70px;
}

.containeropinionlandingpage {
  background-color: #f7f7f7;
  height: auto;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.containeropinionuser {
  margin-top: 30px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(197, 197, 197, 0.25);
  padding: 50px;
  border-radius: 20px;
  height: auto;
}

.pictureopinion {
  height: auto;
  width: 100px;
  border-radius: 100%;
  border: 5px solid #fac457;
}

.containerstartlandingpage {
  background-color: white;
  height: 450px;
  padding-top: 100px;
}

.bgstartlandingpage {
  height: 250px;
  background-color: #5e50a1;
  border-radius: 40px 8px;
  padding: 50px;
  padding-top: 100px;
}

.leftside {
  color: white;
}

.startbuttontwo {
  background: white;
  border-radius: 4px;
  border: none;
  color: #5e50a1;
  height: 50px;
  width: 200px;
  border: none;
}

@media screen and (max-width: 720px) {
  .containersideleftlandingpage {
    margin-top: 0px;
  }

  .pictureonelandingpage {
    width: auto;
    height: 370px;
    margin-top: 20px;
  }

  .picturetwolandingpage {
    width: auto;
    height: 315px;
  }

  .picturethereelandingpage {
    width: auto;
    height: 315px;
    margin-top: 20px;
  }

  .reasonchoicepeworld {
    margin-top: 15px;
  }

  .skilltalent {
    margin-top: 20px;
  }

  .containeropinionlandingpage {
    background-color: #f7f7f7;
    height: auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .containerstartlandingpage {
    background-color: white;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .bgstartlandingpage {
    height: 250px;
    background-color: #5e50a1;
    border-radius: 40px 8px;
    padding: 50px;
    padding-top: 65px;
  }
}
