.containerfluid {
  height: auto;
  margin: 0px;
}

.bgleftlogin {
  background-image: linear-gradient(
      to bottom,
      rgba(91, 63, 136, 0.82),
      rgba(91, 63, 136, 0.82)
    ),
    url("../public/images/true-agency-o4UhdLv5jbQ-unsplash\ 1.png");
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px !important;
  padding: 50px;
  height: 1103px;
}

.namelogoleftlogin {
  color: #ffffff;
  font-weight: 600px;
}

.titleleftlogin {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  margin-top: 190px;
}

.loginsideright {
  padding: 50px;
  margin-top: 30px;
}

.buttonlogin {
  background-color: #5e50a1;
  border: none;
  color: #ffffff;
  height: 45px;
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 720px) {
  .titleleftlogin {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    margin-top: 40px;
  }
  .bgleftlogin {
    background-image: linear-gradient(
        to bottom,
        rgba(91, 63, 136, 0.82),
        rgba(91, 63, 136, 0.82)
      ),
      url("../public/images/true-agency-o4UhdLv5jbQ-unsplash\ 1.png");
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    height: auto;
  }

  .loginsideright {
    padding: 50px;
    margin-top: 10px;
  }
}
